<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="soa.ribbon.local-cache.data-folder" value="\opt\data\soa"/>
    <add key="soa.WeightedRoundRobinTest.ribbon.lb.rule.name" value="weighted-round-robin-rule"/>
    <add key="soa.WeightedRoundRobinWithUnavailableServerTest.ribbon.lb.rule.name" value="weighted-round-robin-rule"/>
    <add key="soa.WeightedRoundRobinWithSpecificWeightTest.ribbon.lb.rule.name" value="weighted-round-robin-rule"/>
    <add key="soa.UpdateServerList_NotPingMinAvailableServerCountServer_Test.ribbon.min-available-server-count" value="3"/>
    <add key="soa.RetainMinAvailableServerCount_MinAvailableServerCount_Test.ribbon.min-available-server-count" value="4"/>
  </appSettings>
</configuration>
